# Data Science Tools and Ecosystem

This notebook describes the Data Science Tools and Ecosystem that we have been introduced to during this course.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* Using popular development environments for Data Science
* Working with a version control system

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. SciPy
7. TensorFlow
8. PyTorch
9. Keras

Data Science Tools |
------------------- |
Jupyter Notebook |
RStudio |
VS Code |



### Below are some examples of calculating simple arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [24]:
# The task is not required, but the rounded result is below
round(200/60, 2)

3.33

## Author
Lyuba Golovach